.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rcheck/
capR_*.tar.gz
!release-artifacts/**/package/capR_*.tar.gz
lib/
schema-artifacts/
interop-artifacts/
conformance-artifacts/
__pycache__/
*.pyc
/quickstart.html
/vignettes/*.html
